/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    
}

.stranka {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 20px rgb(206, 206, 206);
    
}

.foto {
    max-width: 100%;
}

/* HLAVICKA */

.titulek {
    font-family: 'Raleway', serif;
    text-align: center;
    padding-top: 20px;
    font-size: 60px;
    padding-bottom: 0;
    margin-bottom: 10px;
    
}

.hlavicka {
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/island-hlavicka.jpg");
    background-size: cover;
    color: white;

}

.perex {
    padding: 30px;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

.autor {
    opacity: 0.7;
    padding-bottom: 50px;
    font-style: italic;
    text-align: center;
 


}



/* MENU */
.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    
   
}

a {
    color: rgb(172, 171, 171);
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
   
}

li {
    list-style-type:none;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 7px;
    font-size: 13px;
}
/* OBSAH */

p {
    margin-left: 20px;
    margin-right: 20px;
    
}

.popisek {
    text-align: center;
    font-size: 10px;
    color:rgb(172, 171, 171)
}

h2 {
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 45px;
    position: relative;
  
    
 
}

h2::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 90px;
    height: 6px;
    top: 40px;
    left: -59px;
    background-color: rgb(72, 146, 200);
    
}

.fotogalerie::after {
    display: block;
    position: absolute;
    left: -20px;

}

/* FOTOGALERIE */

.fotogalerie {
    padding-left: 20px;
    margin-bottom: 60px;
}

.galerie {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}

.foto p {
    font-weight: 900;
    color: grey;
    margin-top: 0;
    padding: 0;
    margin-bottom: 20px;
}

.popisek a {
    text-decoration: underline;
    font-weight: 400;
}

/* PATICKA */

.paticka a {
    text-decoration: underline;
    text-transform: none;

}

.paticka {
    font-size: 12px;
    color: grey;
    margin-top: 0;
    margin-bottom: 20px;

}

@media (min-width: 500px) {

.menu {display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    justify-content: center;
}

li {
    border-right: 1px solid rgb(220, 220, 220);
    border-top: 1px solid rgb(220, 220, 220);
    flex-grow: 1;
}

.fotomenu {
    border-right: none;
}

.fotkytext .popisek { 
    position: absolute;
    bottom: 10px;
    right: -10px;
    color: white;
}

.fotkytext .popisek a {
    color: white;
}

.fotkytext {
    position: relative;

}


.galerie {
    flex-direction: row;
    flex-wrap: wrap;
}

.foto {
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
}

.foto img {
    display: block;
}

.foto .popisek {
    position: absolute;
    transition: 0.3s;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-left: 0;
}

.foto:hover .popisek {
    transform: translateY(-100%)

}
}

@media (min-width: 1000px) {

.sekce1 {
    display: flex;
    flex-direction: row;

}

.menu {
   flex-basis: 30%;
   flex-direction: column;
   justify-content: flex-start;
   padding-top: 10px;
   
}

li {
    border-bottom: 1px solid rgb(220, 220, 220);
    border-right: none;
    border-top: none;
    font-size: 13px;
    flex-grow: 0;
   
       
}


.odstavec {
    flex-basis: 70%;
    margin-top: 20px;
    margin: 20px;
}

.stranka {
    display: flex;
    flex-direction: column;
    box-shadow: none;
 
}

.hlavni {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: auto;
    margin-top: -40px;
    background-color: white;
    box-shadow: -5px 10px 20px rgb(206, 206, 206);

}

.galerie {
    flex-direction: row;
    flex-wrap: wrap;
}

.foto {
    flex-basis: 33.333%;
    position: relative;
    overflow: hidden;
}

.foto img {
    display: block;
}

.foto .popisek {
    position: absolute;
    transition: 0.3s;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-left: 0;
}

.foto:hover .popisek {
    transform: translateY(-100%)

}

.paticka {
    max-width: 960px;
    margin: auto;
    background-color:#f5f5f5
}


.odstavec1 {
    padding-right: 20%;
    padding-left: 4%;

}

.odstavec2 {
    padding-right: 4%;
    padding-left: 20%;

}

.odstavec3 {
    padding-right: 4%;
    padding-left: 20%;

}


}